<!DOCTYPE html>
<html lang="en">
<head>
    <!--etiqueta meta en el head - da al browser instrucciones de como se 
        debe dimensionar y escalar la pagina al cargarse-->
<meta name= "viewport" content= "width = device-width, initial-scale=1">
<meta charset = "UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name= "viewport" content="width=device-width, initial-scale=1.0"/>
<Title> Mercado Liebre </Title>
<!--vinculo de stylesheet -archivo css-->
<link rel= "stylesheet" href="./css/styles.css">
     <!--libreria font-awesome-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>


    <Body>
    <Header> 
        
        <div class= "section-head">
            <div class= "logo-barra-texto">
                <div class= "logo-barra">
                    <div class="logo">
                        <!--LOGO-->
                        <img class = "logo-ML" src= "images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" > 
                    </div>  
                <!-- Barra e icono de busqueda -->
                    <div class="form" action="#" method="GET">
                        <div class="input">Buscar productos, marcas y más</div>
                        <div class="submit"><i class="fa fa-search"></i></div>
                    </div>  
            </div>
                
                <!--TEXTO-->
                    <h2 class="compra-cuota">  <p><i class="fas fa-hand-holding-usd"> </i>Comprá en cuotas y sin tarjeta de crédito</p> </h2>
                
            </div>

        </div>
        <!--Barra de navegacion con lista-->
            <nav >
                <ul class="lista1">
                    <li> <a href = "# "> Ofertas </a> </li>
                    <li> <a href = "# "> Tiendas Oficiales<a/> </li>
                    <li> <a href ="# " > Vender <a/> </li>
                    <li> <a href="# "> Ayuda</a>  </li>
                </ul>

                <ul class="lista2">
                    <li> <a href = "/register"> Crea tu cuenta </a><span><i class="far fa-address-card"></i></span></li> <!-- link registro-->
                    <li> <a href = "/login"> Ingresa </a> <span> <i class="fas fa-sign-in-alt"> </i> </span> </li> <!--link ingreso-->
                    <li> <a href ="# " > Mis Compras</a> <span> </span><i class="fas fa-shopping-basket"></i></li> <!--link carrito de compras -->
                    
                </ul>
            </nav>
        <!-- icono de tres barras-->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>    
    </header>

    <section class="homebanner">
        <img src="images/img-home-banner.jpg" alt="img-home-banner" >
    </section>

    <!--Productos-->
    <main> 
        <!--Ultima Visita-->

    <Section class="ultimavisita">
        <h2>Basado en tu ultima visita </h2>
        <div class="productos" > 
            <article>
                <img class= "foto" src=" /images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" >
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <p class=precio > $6.770 </p>
                    <p class="descuento"> 40% OFF</p>
                    <h4 class="descripcion"> Cafetera Moulinex </h4>
                </div>    
            </article>
            <article>
                <img class= "foto"src= " /images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" >
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <p class=precio > $230.000 </p>
                    <p class="descuento"> 20% OFF</p> 
                    <h4 class="descripcion"> MacBook Pro 2019 </h4>
                </div>    
            </article>
            
            <article>
                <img class= "foto" src = "/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <p class=precio> $70.500</p>
                    <p class="descuento"> 10% OFF</p>
                    <h4 class="descripcion"> Samsung Galaxy S10</h4>
                </div>    
            </article>
            <article>
                <img class= "foto"src = "/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" >
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <p class=precio> $23.200</p>
                    <p class="descuento"> 10% OFF </p>
                    <h4 class="descripcion"> SmartTv Samsung 43"</h4>
                </div>
            </article>
        </div>    
    </Section>

    <!--Ofertas-->

    <Section class="ofertas">
        <H3> Sección de Ofertas </H3>
        <div class="productos">
            <article>
                <img class= "foto"src=" /images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" >
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <p class=precio > $6.770 </p>
                    <p class="descuento"> 40% OFF</p> 
                    <h4 class="descripcion"> Cafetera Moulinex </h4>
                </div>    
            </article>
            <article>
                <img class= "foto"src= " /images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" >
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <p class=precio > $230.000 </p>
                    <p class="descuento"> 20% OFF</p> 
                    <h4 class="descripcion"> MacBook Pro 2019 </h4>
                </div>    
            </article>
            
            <article>
                <img class= "foto"src = "/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <p class=precio> $70.500</p>
                    <p class="descuento"> 10% OFF</p>
                    <h4 class="descripcion"> Samsung Galaxy S10</h4>
                </div>    
            </article>
            <article>
                <img class= "foto"src = "/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" >
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <p class=precio> $23.200</p>
                    <p class="descuento"> 10% OFF </p>
                    <h4 class="descripcion"> SmartTv Samsung 43"</h4>
                </div>
            </article>
        </div>    
    
    </main>

    <footer>
    <div> <i class="fas fa-credit-card"></i>
            <h4>  Pagá con tarjeta o efectivo </h4>
            <P>  Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</P>
    </div>

        <div> 
            <i class="fas fa-gift"></i>
            <h4> Envío gratis desde $ 2.500 </h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div> 
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin </h4>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
        <div>
            <br><br>
            <h6 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6 >
        </div>

    </footer>
    </Body>
</html>

